### Swift ###
Packages
.build/
xcuserdata/
DerivedData/

.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# tests reports
reports/

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
